<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div>
            <a href="/index"><h1>My Blog</h1></a>
        </div>
        <div id="opt">
            <a href="/index"><h3>All Posts</h3></a>
            <a href="/form"><h3>Create Post</h3></a>
        </div>
    </header>
    <main>
        <div id="manc">
            <h2>My Blogs</h2>
            <% if (index && index.length > 0) { %>
                <% for (const post of index) { %>
                    <div id="mancd">
                        <h3><%= post.TITLE %></h3>
                        <p><%= post.SUMMARY %></p>
                        <p><%= post.BODY %></p>
                        <p>Author: <%= post.author_name %></p>
                        <a href="">DeletePost</a>
                        <a href="">EditPost</a>
                        <a href="/index/<%=post.id %>">ViewPost</a>
                    </div>
                <% } %>
            <% } else { %>
                <p>No posts available</p>
            <% } %>
        </div>
    </main>
</body>
</html>
